.tutorialImg {
  width: 78vw;
  height: auto;
  margin-left: 12%;
}

.tutorialHeader {
  text-align: center;
  font-size: 65px;
  font-weight: 400;
  color: var(--offwhite);
  font-family: "Londrina Solid";
}

.tutorialBtn {
  position: absolute;
  margin-left: 42%;
}
